<div class="container-infobox" id="container-infobox">
	<!-- <div class="display" *ngFor='let message of mapService.message'> {{message}} </div> -->
	<div class="container-image" id="container-image"> 
		<img src="/assets/instrucciones.png" id="instructions"/>
		<img src="/assets/gif.gif"/>
	</div>
	<input type="text" id="result" readonly>
	<div class="button-container">
		<button type="button" class="btn btn-danger" id="clear" >Borrar</button>
		<button  type="button" class="btn btn-success" id="continue">Continuar</button>
		<button  type="button" class="btn btn-success" id="start">Empecemos!</button>
	</div>
</div>

