<!-- 
<div class="navbar-brand" id="pac-card">
  <div id="pac-container">
    <input  class="controls"  type="text"
        placeholder="Introduzca su dirección, por favor">
    <button  type="button" class="fa fa-location-arrow" id="geolocation"></button>
  </div>
</div>
-->

<div id="cover">
    <div class="tb">
      <div class="td"><input type="text" placeholder="Introduce tu dirección" id="pac-input"></div>
      <div class="td" id="s-cover">
        <button type="submit" class="fa fa-location-arrow" id="geolocation">
        </button>
      </div>
    </div>
</div>